@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Oswald';
  src: url("/assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
}

.contact_us .form_header {
  text-align: center;
}

.contact_us h2 {
  margin-bottom: 60px;
}

@media screen and (max-width: 640px) {
  .contact_us h2 {
    margin-bottom: 30px;
  }
}

.contact_us .contact_us_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 150px;
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form {
    padding: 0 20px;
    margin-bottom: 121px;
  }
}

.contact_us .contact_us_form .form_imputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 612px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .contact_us .contact_us_form .form_imputs {
    width: 608px;
  }
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form .form_imputs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 280px;
  }
}

.contact_us .contact_us_form .form_imputs input {
  width: 296px;
  height: 43px;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .contact_us .contact_us_form .form_imputs input {
    width: 294px;
    height: 40px;
  }
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form .form_imputs input {
    width: 280px;
    height: 35px;
  }
}

.contact_us .contact_us_form .input_phone {
  width: 612px;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .contact_us .contact_us_form .input_phone {
    width: 608px;
  }
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form .input_phone {
    width: 280px;
  }
}

.contact_us .contact_us_form .input_phone input {
  width: 612px;
  height: 43px;
}

@media screen and (max-width: 768px) {
  .contact_us .contact_us_form .input_phone input {
    width: 608px;
    height: 40px;
  }
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form .input_phone input {
    width: 280px;
    height: 35px;
  }
}

.contact_us .contact_us_form .textarea_message {
  width: 612px;
  margin-bottom: 12px;
}

@media screen and (max-width: 768px) {
  .contact_us .contact_us_form .textarea_message {
    width: 608px;
  }
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form .textarea_message {
    width: 280px;
    margin-bottom: 10px;
  }
}

.contact_us .contact_us_form .textarea_message textarea {
  width: 612px;
  height: 232px;
  resize: none;
}

@media screen and (max-width: 768px) {
  .contact_us .contact_us_form .textarea_message textarea {
    width: 608px;
    height: 230px;
  }
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form .textarea_message textarea {
    width: 280px;
    height: 150px;
  }
}

.contact_us .contact_us_form input, .contact_us .contact_us_form textarea {
  background: rgba(196, 196, 196, 0.4);
  padding: 12px;
  border: 0px;
  border-radius: 6px;
  color: #2f4858;
  font-size: 18px;
  line-height: 1.375em;
  letter-spacing: -0.015em;
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form input, .contact_us .contact_us_form textarea {
    font-size: 0.875em;
    line-height: 1.0625em;
  }
}

.contact_us .contact_us_form ::-webkit-input-placeholder {
  color: #2f4858;
  opacity: 1;
}

.contact_us .contact_us_form :-ms-input-placeholder {
  color: #2f4858;
  opacity: 1;
}

.contact_us .contact_us_form ::-ms-input-placeholder {
  color: #2f4858;
  opacity: 1;
}

.contact_us .contact_us_form ::placeholder {
  color: #2f4858;
  opacity: 1;
}

.contact_us .contact_us_form :-ms-input-placeholder {
  color: #2f4858;
}

.contact_us .contact_us_form ::-ms-input-placeholder {
  color: #2f4858;
}

.contact_us .contact_us_form .desc_area {
  width: 612px;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .contact_us .contact_us_form .desc_area {
    width: 608px;
  }
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form .desc_area {
    width: 280px;
  }
}

.contact_us .contact_us_form .form_desc, .contact_us .contact_us_form .form_check_desc {
  font-family: Montserrat;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 1.063em;
  color: #2f4858;
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form .form_desc, .contact_us .contact_us_form .form_check_desc {
    font-size: 0.75em;
    line-height: 0.9em;
  }
}

.contact_us .contact_us_form .form_check {
  padding: 25px 0 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 612px;
}

@media screen and (max-width: 768px) {
  .contact_us .contact_us_form .form_check {
    width: 608px;
  }
}

@media screen and (max-width: 640px) {
  .contact_us .contact_us_form .form_check {
    padding: 10px 0 50px 0;
    width: 280px;
  }
}

.contact_us .contact_us_form .form_check .checkbox_container {
  display: block;
  position: relative;
  padding-left: 37px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.contact_us .contact_us_form .form_check .checkbox_container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.contact_us .contact_us_form .form_check .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  border-radius: 3px;
  background: #e7e7e7;
}

.contact_us .contact_us_form .form_check .checkbox_container input:checked ~ .checkmark {
  background-color: #2f4858;
}

.contact_us .contact_us_form .form_check .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.contact_us .contact_us_form .form_check .checkbox_container input:checked ~ .checkmark:after {
  display: block;
}

.contact_us .contact_us_form .form_check .checkbox_container .checkmark:after {
  left: 5px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contact_us .contact_us_form .form_button {
  cursor: pointer;
  width: 182px;
  height: 62px;
  font-size: 24px;
  line-height: 40px;
  color: #ffffff;
  background: #ffa800;
  outline: 0;
  border: 0;
  border-radius: 62px;
}
/*# sourceMappingURL=contact_form.css.map */