@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Oswald';
  src: url("/assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
}

.gallery_wrap, .gallery_wrap2 {
  margin-bottom: 150px;
  position: relative;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1366px;
  height: auto;
}

.gallery_wrap:before, .gallery_wrap2:before {
  content: "";
  position: absolute;
  top: 0px;
  width: 100%;
  height: 55px;
  background: url("/assets/img/ripped 6 8.svg");
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.gallery_wrap:after, .gallery_wrap2:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 55px;
  background: url("/assets/img/ripped 6 8.svg");
}

.gallery_wrap img, .gallery_wrap2 img {
  width: 100%;
  height: auto;
}

.gallery_wrap .cell3, .gallery_wrap2 .cell3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery_wrap {
  -ms-grid-columns: 24% 25% 22% 29%;
      grid-template-columns: 24% 25% 22% 29%;
}

.gallery_wrap2 {
  -ms-grid-columns: 21% 22% 22% 35%;
      grid-template-columns: 21% 22% 22% 35%;
}

.story_grallery .story_grallery_header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 112px 0 150px 0;
}

.story_grallery .story_grallery_header h1 {
  margin-bottom: 60px;
}

.story_grallery .story_grallery_header .text1 {
  color: #2f4858;
  margin-bottom: 0px;
}

.story_grallery .story_gallery_wrap {
  margin: 0 168px 150px 168px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (1fr)[17];
      grid-template-rows: repeat(17, 1fr);
  grid-column-gap: 14px;
  grid-row-gap: 14px;
}

.story_grallery .story_gallery_wrap .story_gallery_cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background: url("/assets/img/story_gallery_cell.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.story_grallery .story_gallery_wrap .story_gallery_cell img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.story_grallery .story_gallery_wrap .story_gallery_cell h3, .story_grallery .story_gallery_wrap .story_gallery_cell p {
  text-align: center;
  color: #ffffff;
}

.story_grallery .story_gallery_wrap .story_gallery_cell p {
  font-family: Oswald;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.story_grallery .story_gallery_wrap .story_gallery_cell .cell_number {
  position: absolute;
  bottom: -9px;
  right: 14px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 36px;
  color: #ffffff;
}
/*# sourceMappingURL=gallery.css.map */