@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'Oswald';
  src: url("/assets/fonts/Oswald-Medium.ttf") format("truetype");
  font-weight: 500;
}

main {
  margin: 112px 0 150px 0;
}

main .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main h1 {
  margin-bottom: 60px;
}

main .main .about, main .main .about2 {
  width: 606px;
}

main .main .about, main .main .about2, main .main .about3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #2f4858;
}

main .main .about {
  margin-bottom: 150px;
  height: 112px;
}

main .main .about3 {
  width: 60%;
}

main .main .text1 {
  margin-bottom: 90px;
  font-size: 24px;
  line-height: 29px;
}

main .main .picture_container {
  margin-bottom: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 100%;
  height: 705px;
  background: url("/assets/img/Juris.jpg");
}

main .main .picture_container::before, main .main .picture_container::after {
  content: "";
  width: 100%;
  height: 55px;
  position: absolute;
  background: url("/assets/img/ripped 6 8.svg");
}

main .main .picture_container::before {
  top: 0;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

main .main .picture_container::after {
  bottom: 0;
}

main .main .picture_container .picture_text {
  position: absolute;
  bottom: 90px;
  width: 818px;
  height: 108px;
  font-family: Oswald;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
}

main .main .citation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .main .citation .citation_wrapper {
  width: 602px;
  color: #2f4858;
}

main .main .citation .citation_wrapper h3 {
  margin-bottom: 10px;
}

main .main .citation .citation_wrapper .citation_author_info {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 30px;
}

main .main .citation .citation_wrapper .citation_text {
  font-style: italic;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 30px;
}

main .main .citation .citation_wrapper .arrow_buttons_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 92px;
}

main .main .citation .citation_wrapper .arrow_buttons_container .right_arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .main .main_dream_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0 168px 0px 168px;
}

main .main .main_dream_box .main_dream_box_cell {
  position: relative;
  max-width: 394px;
  height: 595px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main .main_dream_box .main_dream_box_cell img {
  height: 198px;
  margin-bottom: 60px;
}

main .main .main_dream_box .main_dream_box_cell h2 {
  margin-bottom: 32px;
}

main .main .main_dream_box .main_dream_box_cell .button {
  position: absolute;
  bottom: 0;
}

main .main .margin_bot_150 {
  margin-bottom: 150px;
}

main .main .objective, main .main .mission, main .main .yellow_box, main .main .dream_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2f4858;
}

main .main .objective h2 {
  margin-bottom: 90px;
}

main .main .objective .objective_cell {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main .objective .objective_cell:nth-child(2) {
  margin-left: 92px;
  margin-bottom: 100px;
}

main .main .objective .objective_cell:nth-child(3) {
  margin-right: 304px;
  margin-bottom: 112px;
}

main .main .objective .objective_cell:nth-child(4) {
  margin-left: 92px;
}

main .main .objective .objective_cell .objective_text_left, main .main .objective .objective_cell .objective_text_right {
  font-size: 18px;
  line-height: 22px;
  color: #2f4858;
}

main .main .objective .objective_cell .objective_text_right {
  max-width: 550px;
  padding-left: 62px;
}

main .main .objective .objective_cell .objective_text_left {
  max-width: 550px;
  padding-right: 67px;
  text-align: right;
}

main .main .mission h2 {
  margin-top: 4px;
  margin-bottom: 50px;
}

main .main .mission .text1 {
  margin-bottom: 0px;
}

main .main .yellow_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 533px;
  background: url("/assets/img/yellow_box.png");
}

main .main .yellow_box img {
  margin-bottom: 40px;
}

main .main .yellow_box .yellow_box_text1, main .main .yellow_box .yellow_box_text2 {
  text-align: center;
  color: #ffffff;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}

main .main .yellow_box .yellow_box_text1 {
  width: 62%;
}

main .main .yellow_box .yellow_box_text2 {
  width: 74%;
}

main .main .dream_select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

main .main .dream_select h2 {
  margin-bottom: 90px;
}

main .main .dream_select .dream_select_wrapper {
  width: 78%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .main .dream_select .dream_select_wrapper .dream_select_box {
  width: 288px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .main .dream_select .dream_select_wrapper .dream_select_box .dream_select_image {
  width: 100%;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main .main .dream_select .dream_select_wrapper .dream_select_box .dream_select_image img {
  width: 100%;
  margin-bottom: 30px;
}

main .main .dream_select .dream_select_wrapper .dream_select_box .text1 {
  text-align: center;
  margin-bottom: 0px;
}
/*# sourceMappingURL=main.css.map */