// Import Styles

@import 'colors';
@import 'fonts';
@import 'media_queries';

// -----------------

// Contact us Form
.contact_us {
    .form_header {
        text-align: center;
    }
    h2 {
        margin-bottom: 60px;
        @include mobile {
            margin-bottom: 30px;
        }
    }
    .contact_us_form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;
        @include mobile {
            padding:0 20px;
            margin-bottom: 121px;
        }
        .form_imputs {
            display: flex;
            flex-direction: row;
            width: 612px;
            justify-content: space-between;
            @include tablet {
                width: 608px;
            }
            @include mobile {
                flex-direction: column;
                width: 280px;
            }
            input {
                width: 296px;
                height: 43px;
                margin-bottom: 12px;
                @include tablet {
                    width: 294px;
                    height: 40px;
                }
                @include mobile {
                    width: 280px;
                    height: 35px;
                }
            }
        }
        .input_phone {
            width: 612px;
            margin-bottom: 12px;
            @include tablet {
                width: 608px;
            }
            @include mobile {
                width: 280px;
            }
            input {
                width: 612px;
                height: 43px;
                @include tablet {
                    width: 608px;
                    height: 40px;
                }
                @include mobile {
                    width: 280px;
                    height: 35px;
                }
            }
        }
        .textarea_message {
            width: 612px;
            margin-bottom: 12px;
            @include tablet {
                width: 608px;
            }
            @include mobile {
                width: 280px;
                margin-bottom: 10px;
            }
            textarea {
                width: 612px;
                height: 232px;
                resize: none;
                @include tablet {
                    width: 608px;
                    height: 230px;
                }
                @include mobile {
                    width: 280px;
                    height: 150px;
                }
            }
        }
        input, textarea {
            background: $grey_a;
            padding: 12px;
            border: 0px;
            border-radius: 6px;
            color: $blue;
            font-size: 18px;
            line-height: 1.375em;
            letter-spacing: -0.015em;
            @include mobile {
                font-size: 0.875em;
                line-height: 1.0625em;
            }
        }
        ::placeholder {
            color: $blue;
            opacity: 1;
        }
        :-ms-input-placeholder {
            color: $blue;
        }
        ::-ms-input-placeholder {
            color: $blue;
        }
        .desc_area {
            width: 612px;
            text-align: left;
            @include tablet {
                width: 608px;
            }
            @include mobile {
                width: 280px;
            }
        }
        .form_desc, .form_check_desc {
            font-family: Montserrat;
            font-weight: normal;
            font-size: 0.875em;
            line-height: 1.063em;
            color: $blue;
            @include mobile {
                font-size: 0.75em;
                line-height: 0.9em;
            }
        }
        .form_check {
            padding: 25px 0 50px 0;
            display: flex;
            width: 612px;
            @include tablet {
                width: 608px;
            }
            @include mobile {
                padding: 10px 0 50px 0;
                width: 280px;
            }
            .checkbox_container {
                display: block;
                position: relative;
                padding-left: 37px;
                cursor: pointer;
                font-size: 14px;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .checkbox_container input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
            .checkmark {
                position: absolute;
                top: 0;
                left: 0;
                width: 16px;
                height: 16px;
                border-radius: 3px;
                background: $grey;
            }
            .checkbox_container input:checked ~ .checkmark {
                background-color: $blue;
              }
            .checkmark:after {
                content: "";
                position: absolute;
                display: none;
            }
            .checkbox_container input:checked ~ .checkmark:after {
                display: block;
            }
            .checkbox_container .checkmark:after {
                left: 5px;
                top: 1px;
                width: 4px;
                height: 8px;
                border: solid $white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
              }
        }
        .form_button {
            cursor: pointer;
            width: 182px;
            height: 62px;
            font-size: 24px;
            line-height: 40px;
            color:$white;
            background: $orange;
            outline: 0;
            border: 0;
            border-radius: 62px;
        }
    }
}
// -----------------