// Import Styles

@import 'colors';
@import 'fonts';
@import 'media_queries';

// -----------------

// Styles
.gallery_wrap{
    position: relative;
    display: grid;
    align-items: center;
    grid-template-columns: 24% 25% 22% 29%;
    max-width: 1366px;
    height: auto;
    &:before {
        content: "";
        position: absolute;
        top: 0px;
        width: 100%;
        height: 55px;
        background: url('/assets/img/ripped 6 8.svg');
        transform: rotate(180deg);
    }
    &:after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 55px;
        background: url('/assets/img/ripped 6 8.svg');
    }
    img {
        width: 100%;
        height:auto;
    }
    .cell3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}